<br><hr>
<h1 align="center"> CATALOGO DE REVISTAS  </h1>


<section class="ejemplos" id="ejemplos">
    
    <div class="ejem-wrapper">

        <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> Kronos </label>
                <div>
                    <img src="assets/imagenes/revista_1.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">
                <label>Agregar al Carrito </label>
            </div>
          </article>


          <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> TV y Novelas </label>
                <div>
                    <img src="assets/imagenes/revista_2.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">
                <label>Agregar al Carrito </label>
            </div>
          </article>


          <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> TIME</label>
                <div>
                    <img src="assets/imagenes/revista_3.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">
                <label>Agregar al Carrito </label>
            </div>
          </article>


          <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> Semana </label>
                <div>
                    <img src="assets/imagenes/revista_4.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">
                <label>Agregar al Carrito </label>
            </div>
          </article>

          <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> BAZAAR </label>
                <div>
                    <img src="assets/imagenes/revista_5.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">
                <label>Agregar al Carrito </label>
            </div>
          </article>
  
    </div>
  </section>
  <br>
    <div class="text-center">
        <a routerLink="/compra" class="btn-blue">Comprar</a>
    </div>
  
<br><br><br><br>