<div id="principal"  class="table-responsive" align="center">

	<form #usuarioForm="ngForm" (ngSubmit)="addUsuario(usuarioForm)"  method="post">
		<table  id="tabla1">
			<tr>
				<td colspan="2" align="center"> <h2>Registro</h2> </td>
			</tr>

			<tr>
				<td>Usuario: </td>
				<td>
					<input type="text" class="form-control" placeholder="Usuario"
					required oninvalid="setCustomValidity('El campo usuario es obligatorio')" 
					oninput="setCustomValidity('')" [(ngModel)]="usuarioService.selectedUsuario.nombre_usuario" 
					name="nombre_usuario" > 
				</td>

			</tr>
            <tr>
				<td>Email: </td>
				<td>
					<input  type="email"  [(ngModel)]="usuarioService.selectedUsuario.correo" 
					 name="correo" class="form-control" placeholder="Correo" required oninvalid="setCustomValidity('El campo email es obligatorio')" oninput="setCustomValidity('')"> 
				</td>

			</tr>
			<tr>
				<td>Contraseña: </td>
				<td>
					<input  type="password" [(ngModel)]="usuarioService.selectedUsuario.contrasena" 
					 name="contrasena"  class="form-control"  placeholder="Contraseña" required oninvalid="setCustomValidity('El campo contraseña es obligatorio')" >
				</td>
            </tr>
            
            <tr>
				<td>Repita Contraseña: </td>
				<td>
					<input  type="password" name="txt_contraseña2" class="form-control"  placeholder="Repita Contraseña" required oninvalid="setCustomValidity('El campo obligatorio')" >
				</td>
			</tr>

		</table>
		<br>
		<input type="submit" value="Registrar" class="btn-blue">
		

	</form>
	<br>
	<form >
		<div id="imagen"> </div>
	</form>
	
</div>
<!--
    <div class="card-action">
                <div class="input-field col-s12">
                  <button class="btn right" style="margin-left: 2px;" (click)="resetForm(employeeForm)">Clean</button>
                  <button class="btn right">Save</button>
        </div>

 #name="ngModel" [(ngModel)]="usuarioService.selectedUsuario.contrasena"
-->
