<br><br>


<section class="ejemplos" id="ejemplos">
  <nav align="center"> 
    <h1>Equipo De Desarrollo</h1>
  </nav>
  <div class="ejem-wrapper">
    <article class="ejem-item">




<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/imagenes/angie.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Angie Guerrero</h5>
          <p class="card-text"> Contacto: paola97a@gmail.com </p>
          <p class="card-text"><small class="text-muted">Ingeniera de Sistemas</small></p>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="ejem-item">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/imagenes/daniel.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Daniel Salazar</h5>
          <p class="card-text"> Contacto: daniel037@hotmail.es </p>
          <p class="card-text"><small class="text-muted">Ingeniero de Sistemas</small></p>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="ejem-item">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/imagenes/doris.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Doris Santacruz</h5>
          <p class="card-text"> Contacto: dorysadriana98@gmail.com </p>
          <p class="card-text"><small class="text-muted">Ingeniera de Sistemas</small></p>
        </div>
      </div>
    </div>
  </div>
</article>
</div>
</section>
