<div id="principal"  class="table-responsive" align="center">
	<form method="post">
		<table  id="tabla1">
			<tr>
				<td colspan="2" align="center"> <h2>Iniciar Sesión</h2> </td>
			</tr>
			<br>

				<tr>
				<td>Correo: </td>
				<td>
					<input id="correo"  type="text" name="correo" [(ngModel)]="email"
					class="form-control" placeholder="Usuario" required oninvalid="setCustomValidity('El campo usuario es obligatorio')" oninput="setCustomValidity('')"> 
				</td>

				</tr>

				<tr>
				<td>Contraseña: </td>
				<td>
					<input id="campo_contraseña" type="password"name="txt_contraseña"  [(ngModel)]="password"
					class="form-control"  placeholder="Contraseña" required oninvalid="setCustomValidity('El campo contraseña es obligatorio')" >
				</td>
				</tr>
		</table>
		<br>
		<input type="submit" value="Iniciar" class="btn-blue" (click)="login()">
	</form>
	<br>
	<form >
		<div id="imagen"> </div>
	</form>
	
</div>
