<div id="principal"  class="table-responsive" align="center">
	<form method="post">
		<table  id="tabla1">
			<tr>
				<td colspan="2" align="center"> <h2>Iniciar Sesión</h2> </td>
			</tr>
			<br>

				<tr>
				<td>Correo: </td>
					<td>
						<input type="email" #correo="ngModel"    [(ngModel)]="email"
						name="correo" class="form-control" placeholder="Usuario" required> 
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="alert alert-danger" role="alert" *ngIf="correo.touched && !correo.valid">
							<div *ngIf="correo.errors.required">Email es Obligatorio</div>
						</div>
					</td>
				</tr>

				<tr>
					<td>Contraseña: </td>
					<td>
						<input type="password" #campo_contrasena='ngModel' [(ngModel)]="password" name="campo_contrasena"
						class="form-control"  placeholder="Contraseña" required  minlength="4" >
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="alert alert-danger" role="alert" *ngIf="campo_contrasena.touched && !campo_contrasena.valid">
							<div *ngIf="campo_contrasena.errors.required">Contraseña obligatoria</div>
							<div *ngIf="campo_contrasena.errors.minlength">Contraseña debe tener mas de 4 caracteres</div>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="alert alert-danger" role="alert" *ngIf="isError">
							Usuario o Contraseña Incorrectos.
						</div>
					</td>
				</tr>
		</table>
		<br>
		<input type="submit" value="Iniciar" class="btn-blue" (click)="login()">
	</form>
	<br>
	<form >
		<div id="imagen"> </div>
	</form>
	
</div>
