<br><hr>
<h1 align="center"> CATALOGO DE COMICS </h1>


<section class="ejemplos" id="ejemplos">
    
    <div class="ejem-wrapper">

        <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> Batman Detective </label>
                <div>
                    <img src="assets/imagenes/comic_1.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">
                <label>Agregar al Carrito </label>
            </div>
          </article>


          <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> El Increible Hombre Araña </label>
                <div>
                    <img src="assets/imagenes/comic_2.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">
                <label>Agregar al Carrito </label>
            </div>
          </article>


          <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> Superman </label>
                <div>
                    <img src="assets/imagenes/comic_3.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">
                <label>Agregar al Carrito </label>
            </div>
          </article>


          <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> Fairy Tail </label>
                <div>
                    <img src="assets/imagenes/comic_4.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">
                <label>Agregar al Carrito </label>
            </div>
          </article>

          <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> Los Vengadores </label>
                <div>
                    <img src="assets/imagenes/comic_5.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">
                <label>Agregar al Carrito </label>
            </div>
          </article>
  
    </div>
  </section>
  <br>
    <div class="text-center">
        <a routerLink="/compra" class="btn-blue">Comprar</a>
    </div>
  
<br><br><br><br>