<!--<h1>Lista de productos</h1>-->

<section class="ejemplos" id="ejemplos">
  <header >
    <h1 class="title-underline">
      <span>
        lista
      </span>
    </h1>
  </header>
  <div class="ejem-wrapper">
    <article class="ejem-item">
      <div class="ejem-item-img-container">
        <img src="assets/imagenes/libros.jpg" width="100%" />
      </div>
      <div class="ejem-item-description">
        <a routerLink="libros" class="btn-blue">LIBROS DISPONIBLES.</a>
        
      </div>
    </article>

    <article class="ejem-item">
      <div class="ejem-item-img-container">
        <img src="assets/imagenes/revistas.jpg" width="100%">
      </div>
      <div class="ejem-item-description">
        <a routerLink="revistas" class="btn-blue">REVISTAS DISPONIBLES.</a>
      </div>
    </article>

    <article class="ejem-item">
      <div class="ejem-item-img-container">
        <img src="assets/imagenes/comics.jpg" width="100%" />
      </div>
      <div class="ejem-item-description">
        <a routerLink="comics" class="btn-blue">COMICS DISPONIBLES..</a>
        
      </div>
    </article>

  </div>
</section>

<router-outlet></router-outlet>
