<br><hr>

<h1 align="center"> CATALOGO DE LIBROS  </h1>


<section class="ejemplos" id="ejemplos">
    
    <div class="ejem-wrapper">

        <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> Sherlock Homes </label>
                <div>
                    <img src="assets/imagenes/libro_1.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">
                <label>Agregar al Carrito </label>
            </div>
          </article>


          <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> El Principito </label>
                <div>
                    <img src="assets/imagenes/libro_2.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">
                <label>Agregar al Carrito </label>
            </div>
          </article>


          <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> Me Hago Bolas Con El Amor</label>
                <div>
                    <img src="assets/imagenes/libro_3.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">
                <label>Agregar al Carrito </label>
            </div>
          </article>


          <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> Septimus </label>
                <div>
                    <img src="assets/imagenes/libro_4.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">e    
                <label>Agregar al Carrito </label>
            </div>
          </article>

          <article class="ejem-item">
            <div class="ejem-item-img-container">
                <label align="center"> Harry Potter </label>
                <div>
                    <img src="assets/imagenes/libro_5.jpg" width="200px" />
                </div>
            </div>
            <div class="ejem-item-description">
                <input type="checkbox">
                <label>Agregar al Carrito </label>
            </div>
          </article>
  
    </div>
  </section>
  <br>
    <div class="text-center">
        <a routerLink="/compra" class="btn-blue">Comprar</a>
    </div>
  
<br><br><br><br>
